* {
    font-family: 'Roboto', sans-serif;
}

.contenitore {
    margin: auto;
    width: 80%;
}

.riga {
    display: flex
}

.prodotto {
    height: 550px;
    width: 300px;
    position: relative;
    margin-right: 25px;
    margin-left: 25px;
}

.contenitore .riga .prodotto .modell-a {
    height: 450px;
    width: 300px;
    display: inline-block;
    position: relative;
}

.contenitore .riga .prodotto .modell-b {
    height: 450px;
    width: 300px;
    display: inline-block;
    position: relative;
    top: -454px;
    opacity: 0;
}

.contenitore .riga .prodotto .modell-a:hover {
    opacity: 0;
}

.contenitore .riga .prodotto .modell-b:hover {
    opacity: 1;
}

.contenitore .riga .prodotto .cuore {
    display: inline-block;
    background-color: white;
    width: 40px;
    height: 40px;
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 0;
}

.contenitore .riga .prodotto .cont-tag {
    position: absolute;
    top: 400px; 
}

.contenitore .riga .prodotto .cont-tag .sconto {
    display: inline-block;
    background-color: #eb0037;
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    padding: 3px;

}

.contenitore .riga .prodotto .cont-tag .tag {
    display: inline-block;
    background-color: #00875a;
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    padding: 3px;

}

.contenitore .riga .descrizione-a {
    display: inline-block;
    margin-top: 10px;
    width: 350px;
    height: 80px;
    position: absolute;
    bottom: 20px;
}

.descrizione-a .marca {
    font-weight: 300;
    font-size: 14px;
}

.descrizione-a .nome-prodotto {
    font-size: 16px;
}

.descrizione-a .nuovo {
    font-size: 13px;
    color: red;
}

.descrizione-a .nuovo .vecchio {
    color: black;
    text-decoration: line-through;
}



